[submodule "pypy"]
	path = pypy
	url = https://github.com/mozillazg/pypy
[submodule "isla"]
	path = isla
	url = https://github.com/rems-project/isla.git
[submodule "sail-arm"]
	path = sail-arm
	url = https://github.com/pydrofoil/sail-arm.git
[submodule "sail"]
	path = sail
	url = https://github.com/rems-project/sail
