name: Pydrofoil-from-sail

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
    - name: Add opam2 PPA and install opam (ubuntu)
      run: |
        sudo add-apt-repository -y ppa:avsm/ppa
        sudo apt install -y opam zlib1g-dev pkg-config libgmp-dev z3
      if: contains(matrix.os, 'ubuntu')

    - name: Add opam2 PPA and install opam (macos)
      run: |
        brew install opam pkg-config z3
      if: contains(matrix.os, 'macos')

    - name: Init opam
      run: opam init --disable-sandboxing -y

    - uses: actions/checkout@v3
      with:
        repository: riscv/sail-riscv
        ref: 861bd6f65593013381c905d7a54e538e5382bf31

    - uses: actions/checkout@v3
      with:
        path: pydrofoil
      name: Pre-emptively checkout pydrofoil to get the correct branch

    - name: download and run build script
      run: |
        wget https://raw.githubusercontent.com/pydrofoil/pydrofoil/main/build-pydrofoil-from-sail.sh
        chmod a+x build-pydrofoil-from-sail.sh
        ./build-pydrofoil-from-sail.sh

    - name: run two tests
      run: |
        ./pydrofoil-riscv --rv32 test/riscv-tests/rv32ui-p-addi.elf
        ./pydrofoil-riscv test/riscv-tests/rv64ui-p-addi.elf

